# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Enable Project Dropdown'
      'command': 'project-dropdown:enable'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Project Dropdown'
      'submenu': [
        {
          'label': 'Enable'
          'command': 'project-dropdown:enable'
        },
        {
          'label': 'Disable'
          'command': 'project-dropdown:disable'
        }
      ]
    ]
  }
]
